body {
  margin: 0;
  background: hsl(233, 47%, 7%);
  font-family: "Lexend Deca", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5rem auto;
  background: hsl(244, 38%, 16%);
  border-radius: 5px;
}
#img-header {
  border-radius: 5px 5px 0 0;
}
img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
#content {
  text-align: center;
}
#insights {
  color: hsl(277, 64%, 61%);
}
h1 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}
h2 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
}
#stat-headings {
  font-size: 15px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
}
footer {
  text-align: center;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(244, 38%, 16%);
}
a {
  color: hsl(277, 64%, 61%);
  text-decoration: none;
}
